<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Seleção de {{ title }}
      <button mat-mini-fab color="accent"
        [disabled]="!produtcOptions.valid"
        (click)="addProduct()"
        class="margin-left-10px"
      >
        <mat-icon>library_add</mat-icon>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="produtcOptions">
      <ng-container
      formArrayName="products"
      *ngFor="let prod of productsFields().controls; let prodIndex=index">
        <div [formGroupName]="prodIndex" class="margin-bottom-15px">
          <mat-form-field appearance="outline" [ngClass]="{'hidden': !edit}">
            <mat-select placeholder="{{ businessTitle }} associada" formControlName="businessSelection">
              <mat-option *ngFor="let bus of business$ | async" [value]="bus">{{ bus.id }} - {{ bus.entity.name }}</mat-option>

            </mat-select>
            <mat-label>Selecione uma {{ businessTitle }}</mat-label>
            <mat-hint>{{ businessTitle }} associada</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select placeholder="Selecione um produto" formControlName="productSelection">
              <mat-option *ngFor="let prod of product$ | async" [value]="prod">{{ prod.description }}</mat-option>
            </mat-select>
            <mat-label>Selecione um produto</mat-label>
            <mat-hint>Selecione o produto adquirido</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Quantidade</mat-label>
            <input matInput placeholder="Informe a quantidade" formControlName="qty">
            <mat-hint>Quantidade do produto adquirido</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Preço</mat-label>
            <input matInput placeholder="Informe o valor unitário" formControlName="price">
            <mat-hint>Preço unitário do produto adquirido</mat-hint>
          </mat-form-field>

          <button mat-mini-fab color="warn"
            [disabled]="!produtcOptions.valid"
            (click)="removeProduct(prodIndex)"
            class="margin-left-10px"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>

      <div class="margin-top-15px">
        <button mat-raised-button color="primary" [disabled]="!produtcOptions.valid" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button class="margin-left-10px" (click)="resetForm()">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>

