@import 'src/styles.scss';

form .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

form  {
  width: 100%;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.paid-chkbox {
  margin: 0 12px;
}
