<mat-toolbar color="primary">
  <mat-icon class="mat-18">language</mat-icon>
  <span>Controle Financeiro</span>
  <div class="menu-opt">
    <button mat-button class="menu-btt" routerLink="/">Inicial</button>
    <button mat-button class="menu-btt" routerLink="/person">Entidades</button>
    <button mat-button class="menu-btt" routerLink="/type-person">Tipos</button>
    <button mat-button class="menu-btt" routerLink="/product">Produtos</button>
    <button mat-button [matMenuTriggerFor]="matPurchase">Compras</button>
    <mat-menu #matPurchase="matMenu">
      <button mat-button class="menu-btt" routerLink="/business" [queryParams]="{type: 2}">Lista</button>
      <button mat-button class="menu-btt" routerLink="/business-form" [queryParams]="{type: 2}">Cadastrar compras</button>

    </mat-menu>
    <button mat-button [matMenuTriggerFor]="matSale">Vendas</button>
    <mat-menu #matSale="matMenu">
      <button mat-button class="menu-btt" routerLink="/business" [queryParams]="{type: 1}">Vendas</button>
      <button mat-button class="menu-btt" routerLink="/business-form" [queryParams]="{type: 1}">Cadastrar vendas</button>

    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
