<mat-toolbar color="primary">
  <mat-icon class="mat-18">language</mat-icon>
  <span>Controle Financeiro</span>
  <div class="menu-opt">
    <button mat-button class="menu-btt" routerLink="/">Inicial</button>
    <button mat-button class="menu-btt" routerLink="/person">Entidades</button>
    <button mat-button class="menu-btt" routerLink="/type-person">Tipos</button>
    <button mat-button class="menu-btt" routerLink="/product">Produtos</button>
    <button mat-button class="menu-btt" routerLink="/purchases">Compras</button>
    <button mat-button class="menu-btt" routerLink="/sales">Vendas</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
