<mat-card>
  <mat-toolbar color="purple">{{ title }}</mat-toolbar>
  <mat-card-header>
    <mat-card-subtitle>Lista de {{ title }} realizadas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="business$ | async as businesses; else loading">
      <table mat-table [dataSource]="businesses" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="cod">
          <th mat-header-cell *matHeaderCellDef>Cod</th>
          <td mat-cell *matCellDef="let business">{{ business.id }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="provider">
          <th mat-header-cell *matHeaderCellDef>{{ entity }}</th>
          <td mat-cell *matCellDef="let business">{{ business.entity.name }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="occurenceDate">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let business">{{ business.businessDate }}</td>
          <td mat-footer-cell *matFooterCellDef><strong>Total: </strong></td>
        </ng-container>

        <ng-container matColumnDef="businessAmount">
          <th mat-header-cell *matHeaderCellDef>Total Compra</th>
          <td mat-cell *matCellDef="let business">{{ business.businessTotal | currency:'BRL' }}</td>
          <td mat-footer-cell *matFooterCellDef><strong>{{ totalValue | currency:'BRL' }}</strong></td>
        </ng-container>

        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef>Forma Pagto</th>
          <td mat-cell *matCellDef="let business">
            <p *ngFor="let pay of business.countIntallments | keyvalue">{{ pay.key }}</p>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="installments">
          <th mat-header-cell *matHeaderCellDef>Parcelas</th>
          <td mat-cell *matCellDef="let business">
            <p *ngFor="let pay of business.countIntallments | keyvalue">{{ pay.value }}</p>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Valor (R$)</th>
          <td mat-cell *matCellDef="let business">
            <p *ngFor="let pay of business.intallmentsValues">{{ pay | currency:'BRL' }}</p>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef>Observações</th>
          <td mat-cell *matCellDef="let business">{{ business.notes }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let business" [attr.colspan]="columnsToDisplay.length">
            <div class="element-detail" *ngIf="business.businessProducts"
            [@detailExpand]="business == expandedElement ? 'expanded' : 'collapsed'">

              <table mat-table [dataSource]="business.businessProducts" multiTemplateDataRows class="mat-elevation-z8">

                <ng-container matColumnDef="cod">
                  <th mat-header-cell *matHeaderCellDef>Cod</th>
                  <td mat-cell *matCellDef="let pp" class="prod-cod">{{ pp.product.id }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Descrição</th>
                  <td mat-cell *matCellDef="let pp" class="prod-description">{{ pp.product.description }}</td>
                </ng-container>

                <ng-container matColumnDef="size">
                  <th mat-header-cell *matHeaderCellDef>Tamanho</th>
                  <td mat-cell *matCellDef="let pp" class="prod-size">{{ pp.product.size }}</td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef>Qtd</th>
                  <td mat-cell *matCellDef="let pp" class="prod-qtd">{{ pp.quantity }}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef>Preço Un.</th>
                  <td mat-cell *matCellDef="let pp" class="prod-price-un">{{ pp.price | currency:'BRL' }}</td>
                </ng-container>

                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef>Total</th>
                  <td mat-cell *matCellDef="let pp" class="prod-total">{{ pp.totalPrice | currency:'BRL' }}</td>
                </ng-container>

                <ng-container matColumnDef="notes">
                  <th mat-header-cell *matHeaderCellDef>Observações</th>
                  <td mat-cell *matCellDef="let pp" class="prod-notes">{{ pp.product.notes }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let business; columns: displayedColumns;"
        class="element-row"
        [class.expanded-row]="expandedElement === business"
        (click)="expandedElement = expandedElement === business ? null : business">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>

